{# src/ClientBundle/Resources/views/Page/index.html.twig #}
{% extends 'ClientBundle::layout.html.twig' %}

{% block body %}

    <div class="main">
        <div class="wrap">
            <div class="content-top">
                <div class="lsidebar span_1_of_c1">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing</p>
                </div>
                <div class="cont span_2_of_c1">
                    <div class="social">	
                        <ul>	
                            <li class="facebook"><a href="#"><span> </span></a><div class="radius"> <img src="images/radius.png"><a href="#"> </a></div><div class="border hide"><p class="num">1.51K</p></div></li>
                        </ul>
                    </div>
                    <div class="social">	
                        <ul>	
                            <li class="twitter"><a href="#"><span> </span></a><div class="radius"> <img src="images/radius.png"></div><div class="border hide"><p class="num">1.51K</p></div></li>
                        </ul>
                    </div>
                    <div class="social">	
                        <ul>	
                            <li class="google"><a href="#"><span> </span></a><div class="radius"> <img src="images/radius.png"></div><div class="border hide"><p class="num">1.51K</p></div></li>
                        </ul>
                    </div>
                    <div class="social">	
                        <ul>	
                            <li class="dot"><a href="#"><span> </span></a><div class="radius"> <img src="images/radius.png"></div><div class="border hide"><p class="num">1.51K</p></div></li>
                        </ul>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="clear"></div>			
            </div>
            <div class="content-bottom">
                {%set i = 0%}
                {%for spare in spares %}
                    {% set i = i+1 %}
                    {% if i == 1 %}
                        <div class="box1">
                    {%endif%}
                    {% if i==3 %}
                        {%set i=0%}
                    {%endif%}
                    <div class="col_1_of_3 span_1_of_3"><a href="single.html">
                            <div class="view view-fifth">
                                <div class="top_box">
                                    <h3 class="m_1">{{spare.spare}}</h3>
                                    <p class="m_2">{{spare.model}}  {{spare.brand}}</p>
                                    <div class="grid_img">
                                        <div class="css3"><img src="images/sp3.jpg" alt=""/></div>
                                        <div class="mask">
                                            <div class="info">Смотреть фото</div>
                                        </div>
                                    </div>
                                    <div class="price">{{spare.price}}$</div>
                                </div>
                            </div>
                            <span class="rating">
                                <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
                                <label for="rating-input-1-5" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
                                <label for="rating-input-1-4" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
                                <label for="rating-input-1-3" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
                                <label for="rating-input-1-2" class="rating-star"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
                                <label for="rating-input-1-1" class="rating-star"></label>&nbsp;
                                (45)
                            </span>
                            <ul class="list">
                                <li>
                                    <img src="images/plus.png" alt=""/>
                                    <ul class="icon1 sub-icon1 profile_img">
                                        <li><a class="active-icon c1" href="#">В корзину </a>
                                            <ul class="sub-icon1 list">
                                                <li><h3>sed diam nonummy</h3><a href=""></a></li>
                                                <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </a></div>
       
                    {% if i == 1 %}
                         </div>
                    {%endif%}
                {%endfor%}
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
